{% include 'adminheader.html' %}
<section id="home" class="home" style="overflow: auto;">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper"> 
<form method="post">
	<h1 align="center" style="color: white">FEATURES ADDED ON THIS PACKAGE</h1>
	<div style="overflow-x: scroll;height: 400px">
<table class="table" style="width: 500px;height: 40px">	
	<tr>
		<th>FEATURE</th>
		<th>AMOUNT</th>
	</tr>
	{% for row in data['pdetails'] %}
	<tr>
	<td>{{row['feature_title']}}</td>
	<td>{{row['amt']}}</td>
	
	
	</tr>
	{% endfor %}
	<tr>
		<td colspan="3" align="center">TOTAL-{{data['pdetails'][0]['package_amount']}}</td>
	</tr>
</table>
</div>


</form>
</div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->


{% include 'footer.html' %}