{% include 'adminheader.html' %}
<section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper">  
                      
                              <center>
                              	<div style="overflow: scroll;height: 300px">
	<form method="post">
		<h1 style="color: white;">view event package booking</h1>
		<table class="table" style="font-size: 20px;width: 700px">
			<tr>
				<th>slno</th>
				<th>booking date</th>
				<th>booking time</th>
				<th>booking venue</th>
				<th>booking status</th>
				<th>booking type</th>
			</tr>
		{% for row in data['booking'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['booking_date']}}</td>
				<td>{{row['booking_time']}}</td>
				<td>{{row['booking_venue']}}</td>
				<td>{{row['booking_status']}}</td>
				<td>{{row['booking_type']}}</td>
				{% if row['booking_status']=='pending' %}
				<td><a href="?action=accept&bid={{row['booking_id']}}">ACCEPT</a></td>
				<td><a href="?action=reject&bid={{row['booking_id']}}">REJECT</a></td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
	</form>	
</div>
</center>		      
                        </div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->		
{% include 'footer.html' %}