{% include 'adminheader.html' %}
<section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper"> 
	<center>
	<form method="post">
	{% if data['cat'] %}

	<h1>update event categories</h1>
		<table class="table">
			<tr>
				<th>categoryname</th>
				<td><input type="text" name="cn" value="{{data['cat'][0]['category_name']}}" required></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="update" value="update"></td>
			</tr>
		</table>
	</form>	
	{% else %}		
	<h1 style="color: white;margin-top: 1em">event category</h1>
	<table class="table" style="width: 500px;height: 50px" >
		<tr>
			<th style="color: white">categoryname</th>
			<td><input style="color: white" type="text" name="cn" required class="form-control"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="submit" value="Add" class="btn btn-success"></td>
		</tr>
	</table>	
	{% endif %}
		</form>
		
		                </div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->
		        <h1 align="center">view event categories</h1>
		<div style="overflow: scroll;height: 300px">
		<table class="table">
			<tr>
				<th>slno</th>
				<th>Category name</th>
			</tr>
		{% for row in data['eventcategories'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['category_name']}}</td>
				<td><a href="?action=delete&id={{row['category_id']}}" class="btn btn-danger">delete</a></td>
				<td><a href="?action=update&id={{row['category_id']}}" class="btn btn-warning">update</a></td>
			</tr>
		{% endfor %}
		</table>
	</div> 
</center>
{% include 'footer.html'%}