{% include 'adminheader.html' %}
<section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper"> 

	<center>
	
	<form method="post">
		{% if data['pak'] %}

	<h1 style="color: white;margin-top: 1em">update event packages</h1>
		<table class="table" style="color: white">
			<tr>
				<th style="color: white">packagetitle</th>
				<td><input type="text" style="color: white" name="pt" value="{{data['pak'][0]['package_title']}}" required></td>
			</tr>
			<tr>
				<th style="color: white">packagedescription</th>
				<td><input type="text" style="color: white" name="pd" value="{{data['pak'][0]['package_description']}}" required></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="update" value="update"></td>
			</tr>
		</table>
	</form>	

	{% else %}			
	<h1 style="color: white;margin-top: 1em">event packages</h1>
	<table class="table" style="width: 500px;height: 50px">
		<tr>
			<th style="color: white">package title</th>
			<td><input style="color: white" type="text" name="pt" required class="form-control"></td>
		</tr>
		<tr>   
			<th style="color: white">package description</th>
			<td><input style="color: white" type="text" name="pd" required class="form-control"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="submit" value="Add" class="btn btn-success"></td>
		</tr>
	</table>
	{% endif %}
		</form>

		</div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->

		<h1 align="center">view event packages</h1>
		<div style="overflow: scroll;height: 300px">
		<table class="table">
			<tr>
				<th>slno</th>
				<th>Package title</th>	
				<th>Package Amount</th>
				<th>Package description</th>
				<th>status</th>
			</tr>
		{% for row in data ['eventpackages'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['package_title']}}</td>
				<td>{{row['package_amount']}}</td>
				<td>{{row['package_description']}}</td>
				<td>{{row['status']}}</td>
				<!-- <td><a href="?action=delete&id={{row['package_id']}}" class="btn btn-danger">delete</a></td> -->
				<td><a href="?action=update&id={{row['package_id']}}" class="btn btn-warning">UPDATE</a></td>
				{% if row['status']=='pending' %}
				<td><a href="?action=available&id={{row['package_id']}}" class="btn btn-primary">AVALILABLE</a></td>
				<td><a href="admin_manage_package_details?pid={{row['package_id']}}" class="btn btn-primary">manage package details</a></td>
				{% elif row['status']=='available' %}
				<td><a href="admin_view_packdetails?pid={{row['package_id']}}" class="btn btn-primary">view package details</a></td>


				{% endif %}
			</tr>
		{% endfor %}
		</table>	

{% include 'footer.html'%}