{% include 'customerheader.html' %}
<section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper"> 
    <center>
    <form method="post">
	<h1 style="color: white;margin-top: 1em">payment</h1>
	 	<table class="table" style="width: 500px;height: 50px">
			<tr>
				<th style="color: white"> Amount</th>
				<td><input style="color: white" type="number" name="bamount" value="{{bamount}}" required class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit" value="Pay" class="btn btn-success"></td>
			</tr>
		</table>
	</form>
</center>	
</div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->	
{% include 'footer.html' %}