	
{% include 'public_header.html' %}
<section id="home" class="home">
             <div class="slider-overlay"></div>
            <div class="flexslider">
                <ul class="slides scroll">
                    <li class="first">
                        <div class="slider-text-wrapper">

	<center>
		<form method="post">
		<table class="table" style="width: 500px;height: 50px">	
		<h1 style="color: white">Welcome</h1>
			<tr>
				<th>username</th>
				<td><input style="color: white" type="text" name="un" class="form-control"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input style="color: white" type="password" name="pwd" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="login" value="LOGIN" class="btn btn-success"></td>
			</tr>
		</table>
		</form>
	</center>
	</div>
                        <img src="/static/images/slider/1.jpg" alt="">
                    </li>
                    
                    
        </section>
          <!-- End Slider  -->


{% include 'footer.html' %}